<h1 class="row m-4">Angular Partie 2 DURAN LETELIER Francisco.</h1>
<div class="row m-4">
  <p>
    <a routerLink="tp1" routerLinkActive="active" class="btn btn-primary btn-lg">tp1</a>
  </p>
  <p>
    <a routerLink="tp2" routerLinkActive="active" class="btn btn-primary btn-lg">tp2</a>
  </p>
  <p>
    <a routerLink="tp3" routerLinkActive="active" class="btn btn-primary btn-lg">tp3</a>
  </p>
  <p>
    <a routerLink="tp4" routerLinkActive="active" class="btn btn-primary btn-lg">tp4</a>
  </p>
  <p>
    <a routerLink="tp5" routerLinkActive="active" class="btn btn-primary btn-lg">tp5</a>
  </p>
</div>
